.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('assemblybay.jpg') no-repeat center center/cover;
  animation: backgroundMove 20s ease-in-out infinite;
  text-align: center;
  padding-top: 60px;
}

@keyframes backgroundMove {
  0% { background-position: center center; }
  25% { background-position: left top; }
  50% { background-position: center bottom; }
  75% { background-position: right top; }
  100% { background-position: center center; }
}
